body {
	background: #F9F9F9;
	margin-top:130px;
	font-family: 'Lato', sans-serif;
	
}

.indexbox {	
	background: white;
	border-radius: 2px;
	margin: 20px auto;
	min-height: 300px;
	padding: 20px;
	width: 720px;
	display: block;
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);
}

.error {	
	background: rgb(255, 210, 210);
	border-radius: 2px;
	margin: 20px auto;
	min-height: 100px;
	padding: 20px;
	width: 720px;
	display: block;
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);
}

.error .title{
	color: #FF2D2D;
}

.header {
    width:100%;
    height:100px;
    display:block;
    position:fixed;
    top:0;
    left:0;
	background: rgb(19, 173, 114);
	box-shadow: 0px 3px 10px #888888;
	z-index: 5;
}

.logo {
    float:left;
	margin: 10px 0;
}

.nav {
    float:right;
    margin-right:10px;
}

.nav ul li{
    list-style:none;
    float:left;
}

h1 {
	font-family: 'Lato', sans-serif;
	font-weight: 900; 
	font-size: 3.75em;
	color: #005643;
	display: block;
	letter-spacing: -0.01em;
	width: 100%;
	text-align: center;
}


.introtext {
	width: 100%;
	max-width: 710px;
	font-size: 1.2em;
	line-height: 28px;
	margin: 20px auto 20px auto;
	text-align: center;
	color: #493e45;
}

#topMenu {
	height: 36px;
	margin: 0 auto 50px;
	text-align: center;
	width: 290px;
}

#topMenu li {
	float: left;
	list-style-type: none;
	margin: 0 16px;
}

#topMenu li a{
	font-size: 24px;
	color: white;
	text-decoration: none;
}

.butt {
	border: 0;
  background: rgb(19, 173, 114);
  border-radius: 4px;
  box-shadow: 0 5px 0 #005643;
  color: #fff;
  cursor: pointer;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 12px 20px;
  transition: background .5s linear ,transform .1s linear;
}

.butt:active {
  box-shadow: 0 2px 0 #002d23;
  transform: translateY(3px);
}

.butt:hover {
background: #007c5a;
}

/*Przyciski nowe*/

.button.main {
      display: inline-block;
      position: relative;
      width: 150px;
      height: 53px;
      line-height: 50px;
      border-radius: 2px;
      font-size: 24px;
      background-color: #fff;
      color: #646464;
	  margin: 10px;
    }

.container {
	width: 50%;
    margin: 0 auto;
    text-align: center;
}

.containerBADGES {
  width: 100%;
    margin: 0 auto;
    text-align: center;
}
	
.button a {
	color: white;
	text-decoration: none;
}
	
.button > paper-ripple {
      border-radius: 2px;
      overflow: hidden;
    }
	
.button.green {
      background-color: rgb(19, 173, 114);
      color: #fff;
    }
	
.button.raised {
      transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
      transition-delay: 0.2s;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    }
    
.button.raised:active {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
  transition-delay: 0s;
}

.button.raised:hover {
  background: #007c5a;
  transition: background .5s linear;
}

.center {
      text-align: center;
	  vertical-align: middle;
}

/*FORMUALRZ*/
/* form starting stylings ------------------------------- */

.forms {
	display:block; 
	margin: 0 auto;
	width:50%;
}

.group 			  { 
  position:relative; 
  margin-bottom:45px; 
}
input 				{
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border:none;
  border-bottom:1px solid #757575;
}
input:focus 		{ outline:none; }

/* LABEL ======================================= */
label 				 {
  color:#999; 
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label 		{
  top:-20px;
  font-size:14px;
  color:rgb(19, 173, 114);
}

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width:315px; }
.bar:before, .bar:after 	{
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:rgb(19, 173, 114); 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:rgb(70, 184, 140); }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:rgb(70, 184, 140); }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:rgb(70, 184, 140); }
  to 	{ width:0; background:transparent; }
}


/* LOGOWANIE ================ */

div.zalogowano {
	width: 100%;
	height: 10px;
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	background: rgb(19, 173, 114);
	z-index: 10;
}

p.textZalogowano {
  margin: 2px;
  text-align: right;
}

p.textZalogowano a{
  color: white;
  text-decoration: none;
}

p.textNiezalogowano {
  margin: 2px;
  text-align: right;
}

p.textNiezalogowano a{
  color: white;
  text-decoration: none;
}

div.horizonMenu{
	float: right;
	margin-top: 30px;
}

ul.horizonMenu {
    float: left;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

a.horizonMenu {
    float: left;
	height: 20px;
	width: 8em;
	text-decoration: none;
	color: white;
	background-color: rgb(19, 173, 114);
	border-right: 1px solid white;
	text-align: center;
	padding: 25px 0;
}

a.horizonMenu:hover {
    background-color: rgb(137, 190, 170);
}

li.horizonMenu {
    display: inline;
}

/* ZARZĄDZANIE URZĄDZENIAMI ================ */

table.devices{
	width:100%;
	border-collapse: collapse;
}

#devices td{	
	padding: 10px 0;
	border-bottom: 1px solid gray;
}

#devices tr:hover{  
  background-color: rgb(137, 190, 170);
  transition: background .5s linear;
}

#devices tr > td:first-child{
	width:20%;
	font-weight:900;
}

#devices tr > td:first-child + td{
	width:60%;
}

/* EDYTOWANIE URZĄDZENIAMI ================ */

.styled-input input:focus ~ label,
.styled-input textarea:focus ~ label,
.styled-input input:valid ~ label,
.styled-input textarea:valid ~ label {
 font-size: 14px;
 color: rgb(19, 173, 114);
 top: -2.25rem;
 -webkit-transition: all 0.125s ease;
 transition: all 0.125s ease;
}

.styled-input {
  width: 33.3333%;
  margin: 2rem 0 1rem;
  position: relative;
  border-bottom: 1px solid #757575;
}

.styled-input label {
  color: #999;
  padding: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  pointer-events: none;
}

.styled-input.wide { width: 80%; }

.styled-input input,
.styled-input textarea {
  padding: 1rem 1rem;
  border: 0;
  width: 100%;
  font-size: 1rem;
}

.styled-input input ~ span,
.styled-input textarea ~ span {
  display: block;
  width: 0;
  height: 3px;
  background: rgb(19, 173, 114);
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transition: all 0.125s ease;
  transition: all 0.125s ease;
}

.styled-input input:focus,
.styled-input textarea:focus { outline: 0; }

.styled-input input:focus ~ span,
.styled-input textarea:focus ~ span {
  width: 100%;
  -webkit-transition: all 0.075s ease;
  transition: all 0.075s ease;
}

.styled-input textarea {
  width: 100%;
  min-height: 15em;
}

/* WŚWIETLANIE MAPY ================ */
.devicesandmap {
  width: 100%;
}

#devicesonmap{
  width: 35%;
  float: left;
}

#devicesonmap a{
  text-decoration: none;
  color: black;
}

#devicesonmap a:hover{
  text-decoration: none;
  color: gray;
}

#maps{
  float: left;
  width: 65%;
  height: 400px;
}

#cleardiv{
  clear: both;
}

h2{
  text-align: center;
}

#withmaps{
  width: 80%;
}

table.loacalisations{
  width:100%;
  border-collapse: collapse;
}

#loacalisations td{  
  padding: 10px 0;
  border-bottom: 1px solid gray;
}

#loacalisations tr:hover{  
  background-color: rgb(137, 190, 170);
  transition: background .5s linear;
}

#loacalisations tr > td:first-child{
  width:33%;
  font-weight:900;
}

#loacalisations tr > td:first-child + td{
  width:33%%;
}

#loacalisations tr > td:first-child + td + td{
  width:33%;
}

.deletedev{
  width: inherit;
  border: 0;
}